.library_mapping.xml
.project
.qsys_edit/
.settings/
**/*.pin
**/*~*
**/*.o
**/.metadata
**/*.DS_Store
*.pof
**/db
**/incremental_db
**/*.cdf
**/*.done
**/*.rpt
**/*.smsg
**/*.summary
**/*.htm
**/*.jdi
**/*.sld
**/*.pof
**/*.sof
**/*.bak
**/*.qws
**/*.swp
**/*.cr.mti
**/*.mpf
**/*.csv
**/modelsim.ini
**/simulation/qsim
**/greybox_tmp
**/PLLJ_PLLSPE_INFO.txt

**/*.o

qsys/*/*
qsys/*.*
!qsys/*.tcl
!qsys/*.qsys

!qsys/*/testbench/
qsys/*/testbench/*/*
qsys/*/testbench/*.*
!qsys/*/testbench/*_tb/simulation/
qsys/*/testbench/*_tb/simulation/*
!qsys/*/testbench/*_tb/simulation/mentor/
qsys/*/testbench/*_tb/simulation/mentor/*
!qsys/*/testbench/*_tb/simulation/mentor/*.tcl
!qsys/*/testbench/*_tb/simulation/mentor/*.do
!qsys/*/testbench/*_tb/simulation/mentor/*.sv
qsys/*/testbench/*_tb/simulation/mentor/msim_setup.tcl

!qsys/src/
qsys/src/*
!qsys/src/*.v
!qsys/src/*.vhd

!qsys/software/*
qsys/software/**/generated*
