# vim: filetype=make:

# NOTE: ALL paths in this file should be RELATIVE TO WHERE THE Makefile
# LOCATES, i.e. qsys/software.

QUARTUS_PROJECT_ROOT := ../..
QUARTUS_PROJECT_NAME := anxious_st

SOPC_DIR := ../anxious_qsys.sopcinfo

PROJECT := camera_conf

# Source dir; ALL *.c, *.h, etc. files in the directory will be seen as source
# files in the generated Makefile
SRC_DIR := $(PROJECT)/src

CPU_ID := 0
# CPU_INSTANCE_NUMBER := $(CPU_ID)
# JTAG_UART_INSTANCE_NUMBER := $(CPU_ID)

# The JTAG cable number; use `jtagconfig -n' to see all available JTAG cables
# Leave the default value if only one cable is available
CABLE_NUMBER := 1

# OPTIMIZATION_LEVEL := -O2
# MEMORY_NAME :=
